{{#resume.basics}}
    {{#if summary}}
        <div class="container summary-container">
            {{> title value="Summary" icon="fas fa-file-alt"}}
            <p class="summary">
                {{{mdToHtml summary}}}
            </p>
        </div>
    {{/if}}
{{/resume.basics}}
